<h2>ABC Retail Web App</h2>
<ul>
    <li><a href="/Customer">Manage Customers</a></li>
    <li><a href="/Media">Manage Product Images</a></li>
    <li><a href="/Orders">Manage Orders (Queue)</a></li>
    <li><a href="/Contracts">Manage Contracts</a></li>
</ul>
