@model _10456157_CLDV6212_PART1.Models.CustomerEntity


<h2>Add Customer</h2>
<form asp-action="Create" method="post">
    <label>Name</label><input asp-for="Name" /><br />
    <label>Email</label><input asp-for="Email" /><br />
    <label>Product</label><input asp-for="Product" /><br />
    <label>Price</label><input asp-for="Price" /><br />
    <button type="submit">Save</button>
</form>


